{% extends 'base.html.twig' %}

{% block title %} homepage {% endblock %}

{% block body %}

    <section class="page-header home-header container">
        <img src="{{ asset ('images/home-header-bg.jpg') }}" class="img-responsive" alt="Gamma Hotel">
    </section>


    <section class="container home-content">
        {% if app.user %}

        <h1>Bienvenue {{ app.user.uName }} à l'hotel Gamma</h1>
        {% else %}
            <h1>Bienvenue à l'hotel Gamma</h1>
        {% endif %}

        {# TODO Modifier la page d'accueil pour afficher uniquement les 3 logements les plus réservés #}

          <form class="form-search" action= "{{ path ('homepage')}}" method='GET' autocomplete="off">
            <div class="form-group">
                <label for="search-type">Type</label>

                <select name= "type_name"  id="search-type">

                    {% for type in types %}

                        <option value = "{{ type.name }}"
                            {% if type.name == typeSelected %}
                                selected
                            {% endif %}>
                            {{ type.name }}

                        </option>
                    {% endfor %}

                </select>
            </div>


                  <div class="form-group">
                      <label for="prixMin">Min</label>
                      <input type="number" name= "prixMin" id="prixMin" min="0"  value="{{ prixMin }}" placeholder="0">
                  </div>

                  <div class="form-group">
                      <label for="prixMax">Max</label>
                      <input type="number" name= "prixMax" id="prixMax"  min="0"  value="{{ prixMax }}"  placeholder="200">
                  </div>

              {% if prixMin is defined and  (  prixMin > prixMax ) %}

                  <p>Erreur! le prix min doit être supérieur au prix maximum</p>

                  {% elseif prixMin and prixMax is defined  %}

                      Votre Recherche est Validé

                  {% else %}

              {% endif %}

            <button type="submit" class="button button-primary">
                <i class="fa fa-search"></i>
                Rechercher
            </button>

        </form>

        <h2>Découvrez nos chambres</h2>
        <div class="grid grid-rooms">

            {% for accomodation in accomodations %}

            <article>
                <header>

                    <img src="{{asset('uploads/'~ accomodation.photo)}}"
                         class="img-responsive" alt="Chambre Standard">
                </header>
                <footer>
                        <h3>{{ accomodation.title }}</h3>

                    <ul class="room-features">
                        <li><i class="fa fa-bed"></i>{{ accomodation.beds }}</li>
                        <li><i class="fa fa-user"></i> {{ accomodation.persons }}</li>
                        <li><i class="fa fa-expand"></i> {{ accomodation.size }}m<sup>2</sup></li>
                        <li><i class="fa fa-euro"></i> {{ accomodation.price }}€</li>
                    </ul>

                    <a href=" {{ path('accomodation_show', {'id': accomodation.id}) }}" class="button button-primary">
                        <i class="fa fa-eye"></i>
                        Voir plus
                    </a>
                </footer>
            </article>
            {% else %}

                <p> Aucun éléments trouver. <br>
                Veuillez réinitialisez votre demande. </p>

            {% endfor %}
        </div>
    </section>

{% endblock %}
