{% extends 'base.html.twig' %}

{% block title %}Index des logements{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <section class="container home-content">
    <h1>Index des logements {{ app.user.uName }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>beds</th>
                <th>persons</th>
                <th>size</th>
                <th>price</th>
                <th>description</th>
            </tr>
        </thead>
        <tbody>
        {% for accomodation in accomodations %}
            <tr>

                <td>{{ accomodation.beds }}</td>
                <td>{{ accomodation.persons }}</td>
                <td>{{ accomodation.size }}m<sup>2</sup></td>
                <td>{{ accomodation.price }}€</td>
                <td>{{ accomodation.description }}</td>

                <td>
                    <a class="btn btn-info " href="{{ path('accomodation_show', {'id': accomodation.id}) }}"> Voir </a>
                    <a class="btn btn-primary" href="{{ path('accomodation_edit', {'id': accomodation.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-primary" href="{{ path('accomodation_new') }}">Créer un nouveaux</a>
        <a class="btn btn-warning" href="{{ path('user_index') }}">Les utilisateurs</a>
        <a class="btn btn-info" href="{{ path('booking_index') }}">Nos logements</a>
    </section>
    {% endif %}
{% endblock %}
