{% extends 'base.html.twig' %}

{% block title %}Edition d'utilisateur{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

    <section class="container home-content">
    <h1>Bonjour  {{ app.user.uName }} </h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info m-1" href="{{ path('user_index') }}">Revenir à la liste</a>

            {{ include('user/_delete_form.html.twig') }}

    </section>

    {% elseif is_granted('ROLE_USER') %}

<section class="container home-content">
    <h1>Bonjour  {{ app.user.uName }}, vous êtes sur votre page édition</h1>
        <h2> Utilisateur </h2>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('user/_delete_form.html.twig') }}

</section>

{% else %}
<section class="container home-content">
       <h1>    Vous êtes perdu?     </h1>
</section>
    <script type="text/javascript">
        document.write("window.location.href = " + '{{ path('homepage') }}' );
    </script>

{% endif %}
{% endblock %}
