{% extends 'base.html.twig' %}

{% block title %}Index Utilisateur{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
<section class="container home-content">
    <h1>Table index des Utilisateurs{{ app.user.uName }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun elements trouver</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('user_new') }}">Nouvel Utilisateur</a>
    <a class="btn btn-warning" href="{{ path('booking_index') }}">Nos Réservations</a>
    <a class="btn btn-info" href="{{ path('accomodation_index') }}">Nos logements</a>

</section>
    {% endif %}
{% endblock %}
