{% extends 'base.html.twig' %}

{% block title %}{{ app.user.uName }}{% endblock %}

{% block body %}

<section class="page-header home-header container">
    <img src="{{ asset ('images/home-header-bg.jpg') }}" class="img-responsive" alt="Gamma Hotel">
</section>

<section class="container home-content ">
    <h1>{{ app.user.uName }}</h1>

    <div class="container grid grid-rooms">
        <table class="table">
            <tbody>

            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Nom de famille</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            </tbody>
        </table>




    {% if is_granted('ROLE_ADMIN') %}
        <h2> Administrator </h2>

        <a href="{{ path('user_index') }} ">
            <h2> INDEX </h2> </a>


    {% elseif is_granted('ROLE_USER') %}
        <h2> Utilisateur </h2>
    {% else %}
        <h2> Anonymous </h2>
    {% endif %}

    </div>


</section>
{% endblock %}
